<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zs.mybatis.dao.EmployeeMapper">
<!-- 1.id:唯一标识(如果接口式编程的话，指定为接口的全类名)
	 2.resultType 返回值类型
	 3.#{}-->
  	<select id="getEmpById" resultType="com.zs.mybatis.bean.Employee">
    	select id,last_name lastName,gender,email from tbl_employee where id = #{id}
  	</select>
</mapper>